/*******************************************************/
/* Bootstrap Fragrance v1.0                            */
/* ©(DONGSHIH TENG) 2016                               */
/*******************************************************/
/*******************************************************/
/* Sizes for media query                               */
/*******************************************************/
$break-sm: 320px;
$break-md: 768px;
$break-lg: 1200px;


// new qr
$break-mobile-xs: 320px;
$break-mobile-sm: 370px;
$break-mobile: 400px;
$break-tablet: 768px;
$break-desktop: 1200px;
